{% extends 'main.html' %}
{% block content %}

<!-- Main Container Div -->


   <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        

        <div class="card mask-custom">
          <div class="card-body p-4">

            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check" width="60">
              <h2 class="my-4">Completed Notes</h2>
            </div>

            
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Created At</th>
                  <th scope="col">Title</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>

                {% for note in completed_notes %}
                  {% if note %}

                      {% if note.completed_flag%}
                        <tr class="fw-normal">

                          <th>     
                            <span class="ms-2">{{note.created}}</span>
                          </th>

                          <td class="align-middle">
                            <span >{{note.note_title}}</span >
                          </td>


                          {% if note.priority_type == 'high' %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                          </td>

                          {% elif note.priority_type == 'medium' %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                          </td>

                          {% else %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                          </td>
                          {% endif %}


                          <td class="align-middle">
                            <a href="{% url 'track-note' note.id %}" data-mdb-toggle="tooltip" title="Revert"><i class="fas fa-bell fa-lg text-success me-3"></i></a> 
                            <a href="{% url 'delete-note' note.id %}" data-mdb-toggle="tooltip" title="Remove"><i class="fas fa-trash-alt fa-lg text-warning"></i></a>       
                          </td>
                        </tr>
                      {% endif %}



                  {% else %}



                        <tr class="fw-normal">

                          <th>     
                            <span class="ms-2">{{note.created}}</span>
                          </th>

                          <td class="align-middle">
                            <span >{{note.note_title}}</span >
                          </td>


                          {% if note.priority_type == 'high' %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                          </td>

                          {% elif note.priority_type == 'medium' %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                          </td>

                          {% else %}
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                          </td>
                          {% endif %}


                          <td class="align-middle">
                            <a href="{% url 'track-note' note.id %}" data-mdb-toggle="tooltip" title="Revert"><i class="fas fa-bell fa-lg text-success me-3"></i></a> 
                            <a href="{% url 'delete-note' note.id %}" data-mdb-toggle="tooltip" title="Remove"><i class="fas fa-trash-alt fa-lg text-warning"></i></a>       
                          </td>
                        </tr>





                  {% endif %}
                {% endfor %}

                
              </tbody>
            </table>


          </div>
        </div>

      </div>
    </div>
   
 


<!-- End Main Container Div -->


{% endblock content %}