{% extends 'main.html' %}
{% block content %}

<!-- Main Container Div -->


   <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        

        <div class="card mask-custom">
          <div class="card-body p-4">

            <div class="text-center pt-3 pb-2">
              
              <h2 class="mb-0"><i class="fas fa-tasks me-2"></i>My TODO Notes</h2>
            </div>

             <!-- 2 column grid layout for inline styling -->
             <div class="row mb-4 pt-3">
                  

              <div class="col text-center">
                <!-- SUBMIT BUTTON -->
                <a href="{% url 'create-note' %}"><button type="button" class="btn btn-info">NEW NOTE</button></a>
              </div>

            
            </div>

            
            <table class="table mb-0 table-hover">
              <thead>
                <tr>
                  <th scope="col">Created At</th>
                  <th scope="col">Title</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>

                {% for note in notes_paginated %}
                  {% if note %}

                      {% if not note.completed_flag%}
                        <tr class="fw-normal">

                         

                          <td class="align-middle">
                            <a href="{% url 'single-note' note.id %}" class="link-dark" data-mdb-toggle="tooltip" title="View">
                              <span class="ms-2">{{note.created}}</span>
                             </a> 
                          </td>

                           
                          <td class="align-middle">
                            <a href="{% url 'single-note' note.id %}" class="link-dark" data-mdb-toggle="tooltip" title="View">
                            <span >{{note.note_title|slice:"50"}}</span >
                             </a> 
                          </td>
                          

                          {% if note.priority_type == 'high' %}
                            <td class="align-middle">
                              <a href="{% url 'single-note' note.id %}" data-mdb-toggle="tooltip" title="View">
                                <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                              </a>
                            </td>

                          {% elif note.priority_type == 'medium' %}
                            <td class="align-middle">
                              <a href="{% url 'single-note' note.id %}" data-mdb-toggle="tooltip" title="View">
                                <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                              </a>
                            </td>

                          {% else %}
                            <td class="align-middle">
                              <a href="{% url 'single-note' note.id %}" data-mdb-toggle="tooltip" title="View">
                                <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                              </a>  
                            </td>
                          {% endif %}


                          <td class="align-middle">
                              <a href="{% url 'updatenote' note.id %}" data-mdb-toggle="tooltip" title="Done"><i class="fas fa-check fa-lg text-success me-3"></i></a>
                              <a href="{% url 'delete-note' note.id %}" data-mdb-toggle="tooltip" title="Remove"><i class="fas fa-trash-alt fa-lg text-warning"></i></a>       
                          </td>
                        </tr>
                      {% endif %}

                  {% else %}

                  <p class="h1">No Notes Found.</p>

                  {% endif %}
                {% endfor %}

                
              </tbody>



              
            </table>




          {% if notes_paginated.has_other_pages %}
            <!-- PAGINATION DIV -->
            <div class="row mb-4 pt-3">
              <div class="col text-center">          
              <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center">
                  
                  {% if notes_paginated.has_previous %}
                    <li class="page-item p-1"><a class="page-link" href="?page={{notes_paginated.previous_page_number}}" data-page="{{notes_paginated.previous_page_number}}">&#10094; Prev</a></li>
                  {% endif %}

                    {% for page in custom_range %}

                      {% if page == notes_paginated.number %}
                      <li class="page-item p-1"><a href="?page={{page}}" class="page-link btn btn-lg btn-info" style="background-color:#32DFF8;" data-page="{{page}}">{{page}}</a></li>
                      
                      {% else %}
                        <li class="page-item p-1"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>

                      {% endif %}
                                                            
                    {% endfor %}


                  {% if notes_paginated.has_next %}
                    <li class="page-item p-1"><a class="page-link" href="?page={{notes_paginated.next_page_number}}" data-page="{{notes_paginated.next_page_number}}">Next &#10095;</a></li>
                  {% endif %}

                </ul>
              </nav>      
            </div>
          </div>
          <!-- END OF PAGINATION DIV -->
        {% endif %}



          </div>
        </div>

      </div>
    </div>
   
 


<!-- End Main Container Div -->


{% endblock content %}