{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="row d-flex justify-content-center">

  <div class="col-md-8">

    <div class="card mask-custom">
      <div class="card-body p-4 text-center rounded">

        <div class="text-center pt-3 pb-4">
  
          <!-- NOTE ICON -->
          <i class="fas fa-sticky-note fa-4x" style="color: #32DFF8"></i>
                    <h3>Note View</h3>
        </div>


        <div class="col pt-2">
         
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Title</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{note.note_title}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Description</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{note.note_data}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Priority</p>
                </div>
                <div class="col-sm-9">

                  {% if note.priority_type == 'high' %}
                    <p class="text-muted mb-0"><h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6></p>
                    
                    {% elif note.priority_type == 'medium' %}
                    <p class="text-muted mb-0"><h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6></p>

                    {% else %}
                    <p class="text-muted mb-0"><h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6></p>

                    {% endif %}

                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Created At</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{note.created}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Completed Flag</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{note.completed_flag}}</p>
                </div>
              </div>
              <hr>
          

        </div>
         

        

        <a href="#"><button type="button" class="btn btn-info btn-lg px-3 me-3">EDIT</button></a>


       


      </div>
    </div>

  </div>
</div>




{% endblock content %}