{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="row d-flex justify-content-center">

    <!-- Div that determines width of the card -->
    <div class="col-md-6">

      <div class="card mask-custom">
        <div class="col-md-8 card-body p-4 text-center mx-auto">

          <!-- Card Header -->
          <div class="text-center pt-3 pb-2">  
            
            {% if messages %}

            {% for message in messages %}
              
                      <p id="alert-reg" class="note note-primary">{{message}}</p>
                     
            {% endfor %}
            
            {% endif %}

            <i class="fas fa-user-tie fa-4x pb-2" style="color: #212121"></i>
                    <h3>Edit Account</h3>
          </div>
          <!-- Card Header -->

        
        <div class="col-md-12 pt-2">

            <!-- Edit Account Form -->
            <form method="POST" action=""> 
                {% csrf_token %}

                {% for field in form %}

                    <div class="row pt-2">        
                        <label class="form-label" for="form12">{{field.label}}</label>                   
                    </div>

                    <div class="row pt-2">     
                        {{field}}                  
                    </div>                
        
                    {% for error in field.errors %}
                        <p style="color: blue;">{{error}}</p>
                    {% endfor %}
        
                {% endfor %}

                </div>
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4 pt-3">
                    <!-- Submit login button -->
                        <div class="col">
                            <a href="{% url 'homepage' %}" class="btn btn-danger">CANCEL</a>
                        </div>
                        <div class="col">
                            <!-- Submit login button -->
                            <input class="btn btn-info" type="submit" value="SUBMIT" /> 
                        </div>
                    </div>
                <!-- 2 column grid layout for inline styling -->
            </form>
            <!-- Edit Account Form -->
        
        </div>
        


        </div>
      </div>

    </div>
    <!-- Div that determines width of the card -->
</div>




{% endblock content %}