{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="row d-flex justify-content-center">

  <div class="col-md-8">

    <div class="card mask-custom">
      <div class="card-body p-4 text-center rounded">

        <div class="text-center pt-3 pb-2">

          {% if messages %}
              {% for message in messages %}
                        <p class="note note-primary">{{message}}</p>                 
              {% endfor %}   
          {% endif %}
    
          <!-- USERS ICON -->
          <i class="fas fa-user-tie fa-4x" style="color: #212121"></i>        
          <h2 class="my-4 display-6">Welcome to Notes Application!</h2>
        </div>


        {% if not request.user.is_authenticated %} 
      
        <p>Please <strong>Login</strong> To View Your Notes.</p>
        <a href="{% url 'login' %}" class="pe-3"><button type="button" class="btn btn-info btn-lg">LOGIN</button></a>
        <a href="{% url 'register' %}" class="ps-3"><button type="button" class="btn btn-info btn-lg">Sign Up</button></a> 
        
        {% else %}


        <div class="col pt-1">
         

          <div class="row pb-3"> 
            <div class="row"> 
              <div class="col">
                <p>Account Info</p>
              </div class="col">
              <div>
                <a href="{% url 'edit-account' %}" class="link-dark" data-mdb-toggle="tooltip" title="Edit Account"><i class="fas fa-edit"></i></a>
              </div>          
              </div>
            </div>



          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Username</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{profile.username}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{profile.name}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{profile.email}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Created At</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{profile.created}}</p>
            </div>
          </div>
          <hr>

        </div>




        <div class="row mb-4 pt-3"> 
        <div class="col pt-2"> 
        <a href="{% url 'mynotes' %}"><button type="button" class="btn btn-info btn-lg px-3 me-3">TODO Notes</button></a>
        </div>
        <div class="col pt-2">
        <a href="{% url 'completed-notes' %}"><button type="button" class="btn btn-info btn-lg px-3 me-3">Completed Notes</button></a>
        </div> 
        <div class="col pt-2">   
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-info btn-lg px-3 me-3">LOGOUT</button></a>
        </div> 
        </div>
        {% endif %}


      </div>
    </div>

  </div>
</div>




{% endblock content %}