{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="row d-flex justify-content-center">

    <div class="col-md-8">

      <div class="card mask-custom">
        <div class="card-body p-4 text-center">

          <div class="text-center pt-3 pb-2">
            
            <i class="fas fa-users fa-6x" style="color: #f08e33"></i>
            
            <h2 class="my-4 display-4">Welcome to my Django notes application!</h2>
          </div>
          

          <p class="h5">Please login to view your notes.</p>
         

        </div>
      </div>

    </div>
 </div>




{% endblock content %}