{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="row d-flex justify-content-center">

    <!-- Div that determines width of the card -->
    <div class="col-md-6">

      <div class="card mask-custom">
        <div class="col-md-8 card-body p-4 text-center mx-auto">

          <!-- Card Header -->
          <div class="text-center pt-3 pb-2">  
            
            {% if messages %}

            {% for message in messages %}
              
                      <p class="note note-primary">{{message}}</p>
                     
            {% endfor %}
            
            {% endif %}

            <i class="fas fa-users fa-4x" style="color: #212121"></i>
                    <h3>Register Account</h3>
                    <small class="text-muted">Welcome New User!</small>
          </div>
          <!-- Card Header -->

        <!-- Login Form -->
        <form method="post" action=""> 
          {% csrf_token %}


          {% for field in form %}

          <!-- Input:Text -->         
  
            <label class="form-label name pt-2" for="form1Example1">{{field.label}}</label>
            {{field}}<br>
  
            {% for error in field.errors %}
              <p style="color: red;">{{error}}</p>
            {% endfor %}
          
  
          {% endfor %}

          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4 pt-3">
              <!-- Submit login button -->
              <div class="col">
                <!-- Submit login button -->
                <input class="btn btn-info" type="submit" value="REGISTER" /> 
              </div>
              
              <!-- Forgot password link -->
              <div class="col">
                <a href="{% url 'login' %}" class="form-link">Already have an account?</a>
              </div>
              <!-- Forgot password link -->
            </div>
            <!-- 2 column grid layout for inline styling -->
          </form>
          <!-- Login Form -->
        


        </div>
      </div>

    </div>
    <!-- Div that determines width of the card -->
</div>




{% endblock content %}