{% extends 'main.html' %}

{% block content %}
<style> 

    input[type='text'],
    input[type='email'],
    input[type='password']{
        width: 100%;
        padding: 5px 15px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-color: #989594;

}

</style>



<div class="row d-flex justify-content-center">

    <!-- Div that determines width of the card -->
    <div class="col-md-6">

      <div class="card mask-custom">
        <div class="col-md-8 card-body p-4 text-center mx-auto">

          <!-- Card Header -->
          <div class="text-center pt-3 pb-2">  
            
            {% if messages %}

            {% for message in messages %}
              
                      <p id="vex-alert" class="note note-primary">{{message}}</p>
                     
            {% endfor %}
            
            {% endif %}

            <i class="fas fa-user-tie fa-4x pb-3" style="color: #212121"></i>
                    <h3>PASSWORD RESET COMPLETED</h3>
                    
          </div>
          <!-- Card Header -->

          <p class="">Your password has been set. You may go ahead and log in now.</p>
          
          <div class="row mb-4 pt-3">      
            <div class="col pt-2">   
                <a href="{% url 'login' %}"><button type="button" class="btn btn-info btn-lg px-3 me-3">LOGIN</button></a>
            </div> 
        </div>


        </div>
      </div>

    </div>
    <!-- Div that determines width of the card -->
</div>



{% endblock %}